<div class="container">
<h1>New books</h1>

<form action ="/books" method="POST" >
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %> ">
   

    <label>author</label>
    <select id="status" name="author">
        <% author.forEach(author => { %>

        <% if (author.id===book.author) { %>
            <option label="<%= author.name %>" value="<%= author.id %>"><%= author.name %></option>

        <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>"><%= author.name %></option>
            <% } %>
       <% }) %> 
       
    </select> 


<div> 
    <label>Publish Date</label>
  <input type="date" name="publishDate" id="publishDate" value="<%= book.publishDate %> ">
</div>

<div>
  <label>cover</label>
  <input type="file" name="cover" class="filepond" >
</div>

<div>

  <label>Page Count</label>
  <input type="number" name="pagecount" min="1" value="<%= book.pagecount%> ">
</div>


<div>
  <label>description</label>
  <input type="text" name="description" min="1" ><%= book.description%></input>
</div>


    <button class="btn" href="/books">Cancel</button>

    <button class="btn" type="submit"> Create</button>
<form>
</div>

